:root {
  --color-accent: #fffb1f;
  --color-background-dark: #0b0c10;
  --color-text-dark: #ffffff;
}

@font-face {
  font-family: "Adjusted Arial Fallback";
  src: local(Arial);
  size-adjust: 97%;
  ascent-override: 101%;
  descent-override: 27%;
  line-gap-override: 5%;
}

html {
  font-family: system-ui, sans-serif;
  background: var(--color-background-dark);
  color: var(--color-text-dark);
  background-size: 224px;
}

img {
  color: var(--color-text-dark);
}

body {
  font-family: "Source Sans Pro", "Adjusted Arial Fallback", sans-serif;
}

span.emoji {
  font-family: "Segoe UI Emoji", emoji;
}
