---
import Layout from "../layouts/MainLayout.astro";
---

<Layout title="Der Hummel">
  <main>
    <p>
      Hi my name is lorem ipsum. solalala. Ich muss kurz einen langen Text
      schreiben um den Zeilemubruch zu testen, ob das geht, weißt? Ich hoffe
      mittlerweile schon lang genug
    </p>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
</style>
