<div id="footer">
  <p>Handcrafted with ❤</p>
  <p><a href="/privacy">Privacy & Imprint</a></p>
</div>
<style>
  #footer {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: grey;
  }
</style>
