---
import Avatar from "./Avatar.astro";
import Socials from "./Socials.astro";
---

<div class="header-container">
  <Avatar />
  <Socials />
</div>
<style>
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 1000px;
    max-width: calc(100% - 2rem);
  }
</style>
