---
import Avatar from "./Avatar.astro";
import Socials from "./Socials.astro";
---

<div class="header-container">
  <Avatar />
  <Socials />
</div>
<style>
  .header-container {
    display: flex;
    flex-direction: row;
    background-color: gray;
  }
</style>
