<div class="social-container">
  <img src="/twitter.svg" alt="twitter social" id="twitter" />
  <img src="/github.svg" alt="github social" id="github" />
</div>
<style>
  .social-container {
    display: flex;
    flex-direction: row-reverse;
    gap: 1rem;
  }

  .social-container > img {
    width: 100px;
    height: 100px;
  }
</style>
