<div class="social-container">
  <div id="twitter"></div>
  <div id="github"></div>
</div>
<style>
  .social-container {
    display: flex;
    flex-direction: row;
  }

  :is(#twitter, #github) {
    width: 100px;
    height: 100px;
    border: 1px solid black;
  }
</style>
