<div id="welcome">
  <h1>Hi there <span class="emoji">👋</span></h1>
  <h2>
    I'm Lukas and I code things in JavaScript. Lorem ispsum code etc and
    projects check GitHub And Socials. Have fun
  </h2>
</div>
